@media (max-width: 1199px) {

  

}





@media (max-width: 991px) {

  .header-nav{

    height: 60px;

    width: 100%;

    position: absolute;

    left: 0;

    background-color: #343a40;

  }



  .header-menu ul {

    position: absolute;

    left: 0;

    top: 8px;

    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;

    z-index: 10;

    background-color: #fff;

    font-size: 14px;

    display: none;

  }

  .header-menu ul li {

    padding: 10px 8px;

    border-bottom: 1px solid #dedede;

  }

  .header-menu ul li:last-child{

    border-bottom: none;

  }

  .header-menu ul li a{

    color: #363636;

  }

  

  .menu-icon-wrap{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

  }

  

  html{

    font-size: 10px;

  }

  .header-cont{

    height: calc(100vh - 60px);

    top: 60px;

  }

  .image-gal .grid-item{

    -webkit-box-flex: 50%;

        -ms-flex: 50%;

            flex: 50%;

    max-width: 50%;

  }

  .image-gal .grid-item img{

    min-height: 100%;

  }



  .g-map{

    -webkit-box-flex: 100%;

        -ms-flex: 100%;

            flex: 100%;

    max-width: 100%;

  }

  .container-custom{

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;

  }

  

  .sec-list{

    margin-bottom: 2rem;

  }

  

}





@media (max-width: 767px) {

  .copyright{

    text-align: center;

  }

  .social{

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;

  }

  .post-info p{

    -ms-flex-preferred-size: 100%;

        flex-basis: 100%;

  }

  .post-info h4 a{

    margin-top: 0.5rem;

    margin-left: 0.5rem;

  }

  .post-info h4{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;

    

  }

}





@media screen and (max-width: 575px) {

  .image-gal .grid-item{

    -webkit-box-flex-basis: 100%;

        -ms-flex-basis: 100%;

            flex-basis: 100%;

    max-width: 100%;

    

  }

}

