/*=============================================*/
/*  General setting
/*=============================================*/
body {
  overflow-x: hidden;
  font-family: 'roboto', sans-serif;
  line-height: 1.53846;
  font-size: 13px;
  color: #444;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  color: #444;
}
p {
  margin: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
a,
button,
input {
  outline: medium none;
  color: #383838;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: none;
  background-color: inherit;
}
select {
  outline: none;
}
option {
  background-color: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
  font-size: 14px;
}
input,
textarea {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #666666;
  font-size: 12px;
  height: 35px;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  outline: 0;
}
input:not([type=range]) {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
label {
  font-size: 15px;
  font-weight: 400;
  color: #606060;
}
textarea {
  height: 100px;
  padding: 12px 17px;
  resize: vertical;
  width: 100%;
}
*::-moz-selection {
  background: #b3d4fc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #fff;
}
.ai-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container {
  max-width: 1200px;
}
.has-dropdown {
  position: relative;
}
.has-dropdown .arr-down::after {
  display: inline-block;
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 5px;
}
.has-dropdown:hover .drop-menu {
  visibility: visible;
  opacity: 1;
}
.has-dropdown .drop-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 110;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.btn-gray {
  background-color: #e3e3e3;
  color: #333;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin: 0 30px;
}
.btn-gray:hover {
  background-color: #bda87f;
  color: #fff;
}
.bg-gray {
  background-color: #f6f6f6;
}
/*=============================================*/
/*  Block and elements
/*=============================================*/
.product .p_info h4 {
  color: #676767;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.product .p_info h4 a:hover {
  color: #bda87f;
}
.product .p_info .p_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.product .p_info .p_rating i {
  color: #bda87f;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
}
.product .p_info .p_price .regular {
  color: #676767;
  font-size: 15px;
}
.product .p_info .p_price .sale {
  color: #999;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 20px;
  padding-left: 5px;
}
.product--style-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
}
.product--style-widget .p_image {
  width: 28%;
}
.product--style-widget .p_info {
  padding-left: 13px;
}
.product--style-widget .p_info h4 {
  line-height: 23px;
  margin-bottom: 5px;
}
.product--style-widget .p_info .p_rating {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.blog .b_image a {
  position: relative;
  display: block;
}
.blog .b_image a .date {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  color: #252531;
  font-size: 16px;
  height: 55px;
  width: 55px;
  padding: 3px;
  text-align: center;
}
.blog .b_image a .date span {
  display: block;
}
.blog .b_info {
  padding-top: 25px;
}
.blog .b_info h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 19px;
  text-transform: uppercase;
}
.blog .b_info h5 a {
  color: #303144;
}
.blog .b_info h5 a:hover {
  color: #bda87f;
}
.blog .b_info p {
  color: #676767;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 15px;
}
.blog .b_info > a {
  font-size: 14px;
  color: #bda87f;
  text-transform: capitalize;
}
.blog .b_info > a:hover {
  color: #303144;
}
.single-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.single-info .text h4 {
  font-size: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.single-info .text span {
  color: #676767;
  font-size: 14px;
}
.sec-title {
  margin-bottom: 44px;
  text-align: center;
}
.sec-title > span {
  display: block;
  color: #838383;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.sec-title h2 {
  color: #252531;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}
.sec-title h2 span {
  padding: 0 30px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.sec-title h2::after {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
  content: '';
  height: 1px;
  background-color: #ebebeb;
  width: 100%;
}
.sec-title-style2 {
  position: relative;
}
.sec-title-style2 h2 {
  font-family: 'roboto', sans-serif;
  font-weight: 600;
}
.btn-dark {
  background: #252531;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13.3px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 39px;
  padding: 0 27px;
  text-transform: uppercase;
}
.btn-dark:hover {
  background-color: #bda87f;
}
/*=============================================*/
/*  Colors
/*=============================================*/
/*=============================================*/
/*  Header
/*=============================================*/
.header {
  color: #fff;
  position: relative;
  z-index: 100;
  background-color: #ADBCC1;
}
.header-top {
  border-bottom: 1px solid #c0cace;
  position: relative;
}
.header-top .welcome-msg {
  padding: 12px 0;
}
.header-top .top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-top .top-links .option {
  padding: 12px 0 10px;
}
.header-top .top-links .option:first-of-type > a {
  border-left: 1px solid #c0cace;
}
.header-top .top-links .option > a {
  font-size: 14px;
  line-height: 17px;
  padding: 0 26px;
  position: relative;
  color: #fff;
}
.header-top .top-links .option .drop-menu {
  border: 1px solid #bbbbbb;
  padding: 9px 15px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-top .top-links .option .drop-menu > li > a {
  padding: 5px 10px;
}
.header-top .top-links .option .drop-menu > li > a:hover {
  color: #bda87f;
}
.header-top .top-links .account-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 13px 0 11px;
}
.header-top .top-links .account-links > a {
  border-right: 1px solid #c0cace;
  padding: 0 26px;
  color: #fff;
}
.header-top .top-links .account-links > a:hover {
  color: #393939;
}
.header-middle {
  padding: 37px 0;
}
.header-middle .logo,
.header-middle .email,
.header-middle .search-side {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-middle .email {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-middle .email .icon,
.header-middle .email .mail {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.header-middle .email .mail {
  line-height: 28px;
}
.search-side {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-side .search-form {
  background-color: #fff;
  border-radius: 30px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 470px;
}
.search-side .search-form .sf-input {
  color: #a1a1a1;
  font-size: 14px;
  height: 100%;
  padding: 0 20px;
  width: 100%;
  border: none;
}
.search-side .search-form .sf-btn {
  border: none;
  color: #a1a1a1;
  font-size: 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  cursor: pointer;
}
.search-side .shop-cart {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 15px;
}
.search-side .shop-cart:hover .drop-cart {
  visibility: visible;
  opacity: 1;
}
.search-side .shop-cart .sc-info {
  padding: 10px 0;
}
.search-side .shop-cart .sc-info .sc-icon .qty {
  background-color: #85979d;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  margin-left: 7px;
  width: 19px;
}
.search-side .shop-cart .sc-info .sc-title {
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
}
.search-side .shop-cart .drop-cart {
  position: absolute;
  top: 100%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  padding: 25px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid #bbb;
  width: 390px;
  z-index: 200;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #666;
}
.search-side .shop-cart .drop-cart .dc-info {
  border-bottom: 1px solid #ccc;
}
.search-side .shop-cart .drop-cart .dc-info .dc-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
  padding: 0 30px;
}
.search-side .shop-cart .drop-cart .dc-info .dc-amount .total-item .count {
  font-weight: 700;
}
.search-side .shop-cart .drop-cart .dc-info .dc-amount .amount {
  text-align: right;
}
.search-side .shop-cart .drop-cart .dc-info .dc-amount .amount .title {
  color: #666;
  font-size: 13px;
  margin-bottom: 7px;
  padding: 0 8px;
  font-weight: 700;
}
.search-side .shop-cart .drop-cart .dc-info .dc-amount .amount .price {
  font-size: 18px;
  font-weight: 700;
  color: #666;
}
.search-side .shop-cart .drop-cart .dc-info .dc-checkout {
  margin-bottom: 20px;
  line-height: 1.2;
}
.search-side .shop-cart .drop-cart .dc-product-list .product {
  margin: 0 15px;
  border-bottom: 1px solid #cccccc;
  padding: 13px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info {
  padding-right: 15px;
  text-align: right;
  line-height: 23px;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info .p-title {
  color: #676767;
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info .p-price {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info .p-qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info .p-qty label {
  color: #666;
  font-size: 13px;
  font-weight: 700;
  padding-right: 14px;
  text-transform: capitalize;
  margin: 0;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info .p-qty input {
  border: 1px solid #c2c2c2;
  color: #444;
  font-size: 14px;
  height: 32px;
  padding: 0 10px;
  text-align: center;
  width: 50px;
}
.search-side .shop-cart .drop-cart .dc-product-list .product .p-info .p-qty button {
  color: #303030;
  font-size: 14px;
  line-height: 39px;
  margin-left: 4px;
  cursor: pointer;
}
.search-side .shop-cart .drop-cart .dc-product-list .product:last-child {
  border-bottom: none;
}
.search-side .shop-cart .drop-cart .dc-viewcart-btn {
  border-top: 1px solid #cccccc;
  padding-top: 15px;
  line-height: 1.2;
}
.search-side .shop-cart .drop-cart .dc-viewcart-btn a {
  margin: 0 15px;
}
.search-side .menu-btn {
  width: 30px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-left: 10px;
  cursor: pointer;
}
.search-side .menu-btn span {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search-side .menu-btn.active span {
  background-color: #555;
}
.search-side .menu-btn.active .line1 {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(1px, 1px) rotateZ(45deg);
      -ms-transform: translate(1px, 1px) rotate(45deg);
          transform: translate(1px, 1px) rotateZ(45deg);
}
.search-side .menu-btn.active .line2 {
  opacity: 0;
}
.search-side .menu-btn.active .line3 {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(1px, -1px) rotateZ(-45deg);
      -ms-transform: translate(1px, -1px) rotate(-45deg);
          transform: translate(1px, -1px) rotateZ(-45deg);
}
.header-bottom {
  border-top: 1px solid #c0cace;
}
.desktop-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.desktop-menu .menu > li {
  position: relative;
}
.desktop-menu .menu > li:hover .drop-menu {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.desktop-menu .menu > li.active,
.desktop-menu .menu > li:hover {
  background-color: #90a1a7;
}
.desktop-menu .menu > li.active > a::after,
.desktop-menu .menu > li:hover > a::after,
.desktop-menu .menu > li:last-child > a::after {
  display: none;
}
.desktop-menu .menu > li > a {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 60px;
  padding: 0 30px;
  text-transform: uppercase;
  position: relative;
}
.desktop-menu .menu > li > a::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 13px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #c6cfd2;
  display: block;
}
.desktop-menu .menu > li .drop-menu {
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 30px 30px 26px;
  width: 210px;
  z-index: 300;
  background-color: #fff;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.desktop-menu .menu > li .drop-menu > li > a {
  color: #444;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}
.desktop-menu .menu > li .drop-menu > li > a:hover {
  color: #bda87f;
}
.desktop-menu .menu > li ul.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.desktop-menu .menu > li ul.column-3 > li {
  margin-right: 35px;
  width: 245px;
}
.desktop-menu .menu > li ul.column-3 > li:last-child {
  margin-right: 0;
}
.desktop-menu .menu > li ul.column-3 > li .col-title {
  border-bottom: 1px solid #f1f1f1;
  color: #393939;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 6px;
  text-transform: uppercase;
}
.desktop-menu .menu > li ul.column-3 > li a {
  display: block;
  color: #444;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}
.mobile-menu {
  position: relative;
  z-index: 400;
}
.mobile-menu .menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
}
.mobile-menu .menu .has-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-menu .menu .has-dropdown > a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mobile-menu .menu .has-dropdown .drop-btn {
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 25px;
  background-color: #bda87f;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.mobile-menu .menu .has-dropdown .drop-menu {
  position: static;
  visibility: visible;
  opacity: 1;
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.mobile-menu .menu .has-dropdown .drop-menu li .col-title {
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em 5%;
  font-size: 14px;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
.mobile-menu .menu > li a {
  color: #252525;
  font-size: 12px;
  line-height: 15px;
  border-bottom: 1px solid #ccc;
  display: block;
  font-weight: 500;
  padding: 1em 5%;
  text-transform: uppercase;
}
/*=============================================*/
/*  Slider area
/*=============================================*/
.slider-wrap .owl-dots {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}
.slider-wrap .owl-dots .owl-dot {
  height: 12px;
  width: 12px;
  border: 2px solid #bda87f;
  border-radius: 50%;
  margin: 5px 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
  outline: none;
}
.slider-wrap .owl-dots .owl-dot:hover,
.slider-wrap .owl-dots .owl-dot.active {
  opacity: 1;
}
.slide-item {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-item .slide-banner {
  padding-left: 25px;
}
.slide-item .slide-banner h1 {
  color: #252531;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 7px;
  padding-top: 47px;
  text-transform: uppercase;
  width: 100%;
}
.slide-item .slide-banner h2 {
  color: #252531;
  font-size: 48px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 0 22px;
  text-transform: uppercase;
}
.slide-item .slide-banner p {
  color: #252531;
  font-size: 16px;
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
}
.slide-item .slide-banner .banner-btn {
  background-color: #252531;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-top: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.slide-item .slide-banner .banner-btn:hover {
  background-color: #bda87f;
  color: #fff;
}
.owl-item.active .slide-item h1 {
  -webkit-animation: 1100ms ease-in-out 0s normal none 1 running fadeInRight;
          animation: 1100ms ease-in-out 0s normal none 1 running fadeInRight;
}
.owl-item.active .slide-item h2 {
  -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
          animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}
.owl-item.active .slide-item p {
  -webkit-animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
          animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
}
.owl-item.active .slide-item .banner-btn {
  -webkit-animation: 2000ms ease-in-out 0s normal none 1 running bounceInDown;
          animation: 2000ms ease-in-out 0s normal none 1 running bounceInDown;
}
.owl-item.active .slide-item-2 h1 {
  -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
          animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}
.owl-item.active .slide-item-2 h2 {
  -webkit-animation: 1800ms ease-in-out 0s normal none 1 running fadeInLeft;
          animation: 1800ms ease-in-out 0s normal none 1 running fadeInLeft;
}
.owl-item.active .slide-item-2 p {
  -webkit-animation: 1200ms ease-in-out 0s normal none 1 running slideInDown;
          animation: 1200ms ease-in-out 0s normal none 1 running slideInDown;
}
.owl-item.active .slide-item-2 .banner-btn {
  -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
          animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
}
/*=============================================*/
/*  Banner section 1
/*=============================================*/
.banner-area {
  padding-top: 90px;
}
.banner-area .banner-image {
  display: block;
  position: relative;
  overflow: hidden;
}
.banner-area .banner-image:hover img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.banner-area .banner-image img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}
/*=============================================*/
/*  Product section 1
/*=============================================*/
.product-area {
  padding-top: 85px;
  padding-bottom: 90px;
  text-align: center;
}
.product-item {
  position: relative;
  text-align: center;
}
.product-item:hover .pi-image .hover-item {
  -webkit-box-shadow: 2px 2px 2px 0 #ececec;
          box-shadow: 2px 2px 2px 0 #ececec;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.product-item:hover .pi-image a .hover-image {
  opacity: 1;
}
.product-item > span {
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-size: 13px;
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 25px;
  width: 55px;
  z-index: 1;
}
.product-item span.sale {
  background-color: #bda87f;
}
.product-item span.new {
  background-color: #31a2e2;
}
.product-item .pi-image {
  position: relative;
}
.product-item .pi-image a {
  position: relative;
  display: block;
}
.product-item .pi-image a img {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.product-item .pi-image a .hover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.product-item .pi-image .hover-item {
  position: absolute;
  left: 0;
  bottom: -6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  padding: 14px 0;
  opacity: 0;
}
.product-item .pi-image .hover-item a {
  color: #868686;
  font-size: 20px;
  line-height: 20px;
  border-right: 1px solid #e5e5e5;
}
.product-item .pi-image .hover-item a:last-child {
  border-right: none;
}
.product-item .pi-image .hover-item a:hover {
  color: #bda87f;
}
.product-item .pi-info {
  padding-top: 43px;
}
.product-item .pi-info .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.product-item .pi-info .rating i {
  font-size: 12px;
  color: #bda87f;
  letter-spacing: 2px;
  line-height: 16px;
}
.product-item .pi-info .name {
  color: #676767;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 7px;
}
.product-item .pi-info .name a:hover {
  color: #bda87f;
}
.product-item .pi-info .price {
  text-align: center;
  font-size: 15px;
  color: #676767;
}
.product-item--shop {
  margin-bottom: 40px;
}
.product-item--shop .pi-info {
  padding-top: 25px;
}
.product-area.pa_2 {
  padding-top: 0;
}
.carousel-style1:hover .owl-nav {
  opacity: 1;
}
.carousel-style1 .owl-nav {
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.carousel-style1 .owl-nav button.owl-prev,
.carousel-style1 .owl-nav button.owl-next {
  position: absolute;
  background-color: #fff;
  border: 4px solid #d7d7d7;
  border-radius: 50%;
  color: #54545b;
  font-size: 14px;
  height: 50px;
  width: 50px;
  line-height: 41px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: -15px;
  top: 40%;
  outline: none;
}
.carousel-style1 .owl-nav button.owl-next {
  left: auto;
  right: -15px;
}
.section-widget {
  padding-top: 90px;
  padding-bottom: 70px;
}
.section-widget .product-title {
  margin-bottom: 24px;
}
.section-widget .product-title span {
  display: block;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 13px;
  padding-bottom: 6px;
  text-transform: capitalize;
}
.section-widget .product-title h4 {
  color: #303144;
  font-size: 14px;
  text-transform: uppercase;
}
/*=============================================*/
/*  Section blog
/*=============================================*/
.section-blog {
  padding-bottom: 85px;
}
/*=============================================*/
/*  Section information
/*=============================================*/
.section-information .info-wrap {
  padding: 60px 0;
  border-top: 1px solid #ebebeb;
}
/*=============================================*/
/*  Footer
/*=============================================*/
.footer .footer-top {
  background-color: #f6f6f6;
  border-top: 1px solid #d9dadf;
  color: #676767;
  padding: 80px 0;
}
.footer .footer-bottom {
  border-top: 1px solid #e0e0e3;
  font-size: 13px;
  padding: 30px 0;
}
.footer-widget ul li {
  color: #676767;
  display: block;
  font-size: 14px;
  line-height: 30px;
}
.footer-widget ul.fc_info {
  margin-top: 20px;
}
.footer-widget h4 {
  color: #252531;
  font-size: 14px;
  line-height: 30px;
  margin: 23px 0 12px;
  text-transform: uppercase;
}
.footer-links ul li {
  text-transform: capitalize;
}
.footer-links ul li a:hover {
  color: #bda87f;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.footer-newsletter form {
  position: relative;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  color: #a1a1a1;
  height: 41px;
  overflow: hidden;
}
.footer-newsletter form input[type=email] {
  font-size: 12px;
  border: none;
  height: 100%;
  line-height: 49px;
  padding: 0 20px;
}
.footer-newsletter form button {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: capitalize;
  width: 97px;
  background-color: #252531;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 100%;
}
.copyright {
  font-size: 13px;
  color: #676767;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-link a {
  color: #757575;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  margin: 0 5px;
  text-align: center;
  width: 32px;
}
.social-link a:first-child {
  margin-left: 0;
}
.social-link a:hover {
  color: #bda87f;
}
#scroll-top {
  opacity: 0.8;
  display: none;
  position: fixed;
  bottom: 35px;
  right: 12px;
  z-index: 9999;
  background-color: #bda87f;
  color: #fff;
  font-size: 15px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
#scroll-top:hover {
  background-color: #252531;
}
/*=============================================*/
/*  Shop Page
/*=============================================*/
.breadcrump {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: capitalize;
}
.breadcrump .bc_item a {
  color: #fff;
}
.breadcrump .bc_item + .bc_item::before {
  content: '>';
  font-size: 14px;
  padding-left: 4px;
  padding-right: 12px;
}
.breadcrump .bc_item.active {
  color: #bda87f;
  padding: 0 8.5px;
}
.shop-section {
  font-family: 'poppins', sans-serif;
  padding: 80px 0;
}
.widget {
  border: 1px solid #e5e5e5;
  padding: 20px;
  margin-bottom: 40px;
}
.widget .w_title {
  border-bottom: 1px solid #e5e5e5;
  color: #252531;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.widget .w_option a {
  font-size: 14px;
  color: #bda87f;
  display: block;
  line-height: 24px;
  margin-bottom: 15px;
  position: relative;
}
.widget .w_option a.collapsed {
  color: #444;
}
.widget .w_option a::after {
  content: '\f106';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget .w_option a.collapsed::after {
  content: '\f107';
}
.widget--borderNone {
  border: none;
}
.option-select {
  border-top: 1px solid #f1f1f1;
  padding: 18px 0 22px;
}
.option-select .select-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  overflow: hidden;
}
.option-select .select-item input[type=checkbox] {
  border: 1px solid #999;
  margin-right: 10px;
  width: auto;
}
.option-select .select-item label {
  color: #444;
  cursor: pointer;
  font-size: 14px;
  line-height: 34px;
  margin: 0;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.option-select .select-item label:hover {
  color: #bda87f;
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}
.option-select .select-item label span {
  color: #7d7d7d;
}
.option-select--color {
  padding: 25px 0;
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.option-select--color li {
  border: 1px solid #dadada;
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0 5px 5px;
  width: 30px;
}
.black {
  background: #000000 none repeat scroll 0 0;
}
.blue {
  background: #1857f7 none repeat scroll 0 0;
}
.gray {
  background: #8f8f8f none repeat scroll 0 0;
}
.green {
  background: #53a828 none repeat scroll 0 0;
}
.white {
  background: #ffffff none repeat scroll 0 0;
}
.purple {
  background: #ef3dff none repeat scroll 0 0;
}
.red {
  background: #ff0000 none repeat scroll 0 0;
}
h1.page-title {
  font-style: 40px;
  line-height: 44px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.product-options {
  border: 1px solid #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding: 12px;
}
.product-options .view-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-options .view-type a {
  color: #252531;
  font-size: 20px;
  margin-right: 4px;
  padding: 0 5.5px;
}
.product-options .view-type a.active {
  color: #bda87f;
}
.product-options .product-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 30px;
  padding-right: 13px;
}
.product-options .product-sort .sort-type span {
  color: #444;
  font-weight: 700;
  margin-right: 5px;
}
.product-options .product-sort .sort-type select {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  margin-top: 2px;
  text-transform: capitalize;
  width: auto;
  padding-left: 10px;
  outline: none;
}
.product-options .product-sort .items-count a {
  font-size: 15px;
  margin-left: 3px;
  padding: 0 7px;
}
.pagination-wrap {
  border: 1px solid #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #1979c3;
}
.pagination .page-item:last-child .page-link {
  border: 1px solid #d1d1d1;
  border-radius: 0;
  color: #7d7d7d;
  font-size: 20px;
  line-height: 13px;
  margin-left: 9px;
  padding: 2px 7px;
}
.pagination .page-item .page-link {
  border: none;
  color: #333;
  font-weight: 600;
  padding: 6px 8px;
  font-size: 15px;
}
.pagination .page-item .page-link:hover {
  background-color: #fff;
  color: #1979c3;
}
.product-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.product-count span:first-of-type {
  margin-right: 14px;
}
.product-count span:last-of-type {
  margin-left: 5px;
  font-weight: normal;
}
.product-count span {
  color: #444;
  font-weight: 700;
}
.product-count select {
  width: 50px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444;
  cursor: pointer;
  font-size: 13px;
  height: 30px;
  padding-left: 5px;
}
/*=============================================*/
/*  Product Detail Page
/*=============================================*/
.product-detail {
  padding: 5rem 0;
}
.product-image:hover button.slick-arrow {
  opacity: 1;
}
.product-image:hover button.slick-prev {
  left: 0;
}
.product-image:hover button.slick-next {
  right: 0;
}
.product-image .image {
  padding: 0 2.5rem 3rem;
}
.product-image button.slick-arrow {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  color: #999;
  padding: 0 10px !important;
  outline: none;
  cursor: pointer;
}
.product-image button.slick-prev {
  left: -30px;
}
.product-image button.slick-next {
  right: -30px;
}
.product-thumbnail {
  width: 100%;
}
.product-thumbnail .image {
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product-thumbnail .image img {
  width: 100%;
}
.product-thumbnail .slick-current.image {
  border-color: #bda87f;
}
.product-info {
  padding-left: 1.7rem;
  font-family: 'poppins', sans-serif;
  text-align: left;
}
.product-info h1 {
  font-size: 2.1rem;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 1.3rem;
}
.product-info .rating-review {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-info .rating-review .rating {
  font-size: 12px;
  line-height: 16px;
}
.product-info .rating-review .rating .fas {
  color: #bda87f;
}
.product-info .rating-review .rating .far {
  color: #ccc;
}
.product-info .rating-review span {
  margin: 0 3px 0 1.3rem;
}
.product-info .rating-review a {
  padding: 0 5px;
}
.product-info .price {
  color: #676767;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 4px;
}
.product-info .model-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
}
.product-info .model-stock .model {
  font-weight: 400;
  color: #7d7d7d;
  margin-left: 1.4rem;
}
.product-info .qty-cart-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin: 1.25rem 0;
}
.product-info .qty-cart-add label {
  color: #444444;
  font-size: 13px;
  font-weight: 700;
  margin: 0 13px 0 0;
  text-transform: capitalize;
}
.product-info .qty-cart-add input {
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  color: #444444;
  font-size: 14px;
  height: 100%;
  padding: 0 10px;
  width: 52px;
}
.product-info .qty-cart-add a {
  background: #bda87f;
  border-radius: 29px;
  color: #fff;
  font-size: 14px;
  height: 100%;
  margin-left: 1rem;
  padding: 0 2.5rem;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-info .qty-cart-add a:hover {
  background-color: #444;
}
.product-info .wishlist-compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.8rem 0 0.6rem;
  border-top: 1px solid #f1f1f1;
}
.product-info .wishlist-compare a {
  background: #e3e3e3;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin-right: 3px;
  padding: 0 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product-info .wishlist-compare a:hover {
  background-color: #bda87f;
  color: #fff;
}
.product-info p {
  margin-bottom: 1rem;
  text-align: left;
}
.detail-area {
  margin-top: 3.85rem;
  padding: 1rem;
  border: 1px solid #e5e5e5;
}
.detail-area .nav-tabs {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 6px;
}
.detail-area .nav-tabs .nav-item .nav-link {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  margin-right: 1.56rem;
  text-transform: uppercase;
  padding: 0;
  border: none;
}
.detail-area .nav-tabs .nav-item .nav-link.active {
  color: #222;
}
.detail-area .tab-content {
  padding: 1.25rem;
}
.detail-area .tab-content .tab-pane p {
  margin-bottom: 0.56rem;
}
.detail-area .tab-content .tab-pane ul {
  list-style: disc;
  margin-left: 2.5rem;
}
.detail-area .tab-content .tab-pane ul li {
  margin-bottom: 0.5rem;
  line-height: 21px;
}
.upsell-products-section {
  padding-top: 4.3rem;
  padding-bottom: 5rem;
}
/*=============================================*/
/*  Cart Page
/*=============================================*/
.cart-section {
  padding: 5rem 0;
}
.cart-table table {
  background: #fff;
  border: 1px solid #f1f1f1;
  line-height: 25px;
  width: 100%;
}
.cart-table table th {
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  color: #252531;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 0.8rem 1.25rem;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}
.cart-table table th.p-image {
  border: none;
  width: 24%;
  min-width: 100px;
}
.cart-table table th.p-name {
  width: 25%;
}
.cart-table table th.p-price {
  width: 13%;
}
.cart-table table th.p-qty {
  width: 10%;
}
.cart-table table th.p-total {
  padding: 0.8rem 2rem;
}
.cart-table table td {
  border-right: 1px solid #f1f1f1;
  color: #252531;
  text-align: center;
  vertical-align: middle;
}
.cart-table table td.p-image {
  padding: 0 2.7rem 3.2rem;
}
.cart-table table td.p-image a {
  border: 1px solid #ececec;
  display: block;
  text-align: center;
}
.cart-table table td.p-name a {
  color: #252531;
  font-size: 16px;
}
.cart-table table td.p-price {
  font-size: 15px;
}
.cart-table table td.p-qty {
  text-align: center;
}
.cart-table table td.p-qty input {
  border: 1px solid #f2f2f2;
  color: #222222;
  padding: 5px;
  text-align: center;
  width: 3rem;
}
.cart-table table td.p-total {
  font-size: 15px;
}
.cart-buttons {
  padding: 2.5rem 0 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cart-buttons .btn-dark {
  margin-left: 5px;
}
.cart-buttons .btn-dark:first-child {
  margin-right: auto;
}
.cart-buttons .btn-dark:first-child {
  margin-left: 0;
}
.cart-action {
  margin-bottom: 2.8rem;
  overflow: hidden;
}
.cart-action:nth-of-type(2) {
  margin-bottom: 0;
}
.cart-action:nth-of-type(2) > p {
  margin-bottom: 14px;
}
.cart-action h3 {
  border-bottom: 1px solid #ececec;
  color: #252531;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 13px;
  margin-bottom: 11px;
  padding-bottom: 9px;
  text-transform: uppercase;
}
.cart-action > p {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 19px;
}
.cart-action .coupon-code input {
  border: 1px solid #f1f1f1;
  color: #555555;
  height: 38px;
  line-height: 25px;
  margin-bottom: 27px;
  outline: medium none;
  padding: 0 10px;
  width: 300px;
}
.cart-action h4 {
  color: #252531;
  font-family: "Roboto", sans-serif;
  font-size: 15.3px;
  letter-spacing: 0.2px;
  line-height: 13px;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.cart-action .address .name {
  color: #7d7d7d;
  font-size: 13px;
  margin-bottom: 12px;
}
.cart-action .address select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #f1f1f1;
  color: #777777;
  height: 40px;
  margin-bottom: 18px;
  outline: medium none;
  padding: 0 10px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.cart-action .address select option {
  background: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
  font-size: 14px;
}
.cart-action .address input {
  border: 1px solid #f1f1f1;
  color: #555555;
  height: 38px;
  line-height: 25px;
  margin-bottom: 27px;
  outline: medium none;
  padding: 0 10px;
  max-width: 300px;
}
.cart-action .amount-total {
  padding-left: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cart-action .amount-total > div,
.cart-action .amount-total > p {
  width: 100%;
}
.cart-action .amount-total .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #7d7d7d;
  margin-bottom: 11px;
  text-align: left;
}
.cart-action .amount-total .grandtotal {
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart-action .amount-total .btn-dark {
  margin: 0.6rem 0;
  margin-left: auto;
}
.cart-action .amount-total > p {
  margin-left: auto;
}
/*=============================================*/
/*  Wishlist Page
/*=============================================*/
.wishlist-section {
  padding: 5.6rem 0;
}
.wishlist-table table {
  background: #ffffff none repeat scroll 0 0;
  border-color: #f2f2f2;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  width: 100%;
}
.wishlist-table table th,
.wishlist-table table td {
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  color: #252531;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 1.25rem 0.6rem;
  text-align: center;
  text-transform: uppercase;
}
.wishlist-table table td {
  text-transform: none;
}
.wishlist-table table td.remove {
  font-size: 25px;
  color: #777;
}
.wishlist-table table td.remove a:hover {
  color: #bda87f;
}
.wishlist-table table td.name {
  font-size: 15px;
  color: #7d7d7d;
}
.wishlist-table table td.name a:hover {
  color: #bda87f;
}
.wishlist-table table .remove {
  width: 20px;
  padding: 0 1rem;
}
.wishlist-table table .image {
  max-width: 150px;
}
.wishlist-table table .wishlist-share {
  margin: 1.25rem 0 1.87rem;
}
.wishlist-table table .wishlist-share .title {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.wishlist-table table .wishlist-share ul li {
  display: inline-block;
}
.wishlist-table table .wishlist-share ul li a {
  background-position: left top;
  display: inline-block;
  height: 21px;
  width: 21px;
}
.wishlist-table table .wishlist-share ul li a:hover {
  background-position: left bottom !important;
}
.wishlist-table table .wishlist-share ul li a.facebook {
  background: url('../image/icon/facebook.png');
}
.wishlist-table table .wishlist-share ul li a.twitter {
  background: url('../image/icon/twitter.png');
}
.wishlist-table table .wishlist-share ul li a.pinterest {
  background: url('../image/icon/pinterest.jpg');
}
.wishlist-table table .wishlist-share ul li a.g-plus {
  background: url('../image/icon/googleplus.jpg');
}
/*=============================================*/
/*  About Page
/*=============================================*/
.about-section {
  padding: 3.1rem 0 5rem;
}
.about-section h2 {
  color: #252531;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-bottom: 1.56rem;
  text-transform: uppercase;
}
.about-section p {
  padding-right: 1.9rem;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 1rem;
}
.about-section .skillbar .skillbar-item {
  margin-bottom: 1.43rem;
  overflow: hidden;
}
.about-section .skillbar .skillbar-item .name {
  font-size: 11px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.about-section .skillbar .skillbar-item .progress {
  background: #ececec;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 8px;
  margin-bottom: 0;
  overflow: visible;
}
.about-section .skillbar .skillbar-item .progress .progress-bar {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  background-color: #343A40;
}
.about-section .skillbar .skillbar-item .progress .progress-bar .progress-bar-count {
  color: #5e5e5e;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: -24px;
  z-index: 9;
}
.team-section {
  padding-bottom: 5rem;
}
.animate-start {
  -webkit-transform: translate3d(0px, 200%, 0px);
          transform: translate3d(0px, 200%, 0px);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.animate-end {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}
.single-team {
  background: #f5f5f5 none repeat scroll 0 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.single-team:hover .st_hover {
  bottom: 0;
}
.single-team:hover .st_hover h4 {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.single-team:hover .st_hover .post {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.single-team:hover .st_hover .links a {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}
.single-team:hover .st_hover .links a:nth-child(1) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.single-team:hover .st_hover .links a:nth-child(2) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.single-team:hover .st_hover .links a:nth-child(3) {
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.single-team:hover .st_hover .links a:nth-child(4) {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.single-team:hover .st_hover .links a:nth-child(5) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
.single-team .st_hover {
  background: rgba(0, 0, 0, 0.74);
  bottom: -100%;
  left: 0;
  padding: 1.87rem;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}
.single-team .st_hover h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.6rem;
  -webkit-transform: translate3d(0px, 200%, 0px);
          transform: translate3d(0px, 200%, 0px);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.single-team .st_hover .post {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 1rem;
  -webkit-transform: translate3d(0px, 200%, 0px);
          transform: translate3d(0px, 200%, 0px);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.single-team .st_hover .links a {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 26px;
  margin: 0 4px;
  -webkit-transform: translate3d(0px, 200%, 0px);
          transform: translate3d(0px, 200%, 0px);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  width: 26px;
}
/*=============================================*/
/*  Account Page
/*=============================================*/
.account-section {
  padding: 5rem 0;
}
.form-fields {
  border: 1px solid #e9e9e9;
  padding: 1.5rem;
  width: 100%;
}
.form-fields h2 {
  border-bottom: 1px solid #e9e9e9;
  color: #252531;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 16px;
  padding: 0 0 12px;
  text-transform: uppercase;
}
.form-fields label {
  color: #444444;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 0 8px;
  position: relative;
}
.form-fields label.required::after {
  color: #e02b27;
  content: "*";
  font-size: 11px;
  position: absolute;
  right: -8px;
  top: 2px;
}
.form-fields input {
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 0;
  height: 38px;
  padding: 0 0 0 10px;
  width: 100%;
  margin-bottom: 1rem;
}
.form-action {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #e9e9e9;
  padding: 0.6rem 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-action > button {
  margin-left: auto;
}
.form-action a.lost-password {
  font-size: 14px;
  line-height: 36px;
  margin: 0;
}
.form-action .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-action .buttons label {
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  margin-right: 1rem;
}
.form-action .buttons label input {
  height: auto;
  line-height: 0;
  margin-right: 8px;
  margin-top: 0;
  position: relative;
  width: auto;
  top: 1px;
}
/*=============================================*/
/*  Contact Page
/*=============================================*/
.contact-section {
  padding: 5rem 0;
}
.contact-section h4 {
  color: #252531;
  line-height: 14px;
  margin-bottom: 1.9rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.contact-section input,
.contact-section textarea {
  border: 1px solid #e4e4e4;
  color: #888888;
  font-size: 12px;
  font-weight: 300;
  height: 38px;
  margin-bottom: 1.5rem;
  padding: 0 1.25rem;
}
.contact-section textarea {
  height: 10rem;
  padding: 0.6rem 1.25rem;
  margin-bottom: 2rem;
}
.contact-section p {
  margin-bottom: 1rem;
}
.contact-section ul.address-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  padding: 2.3rem 0 0;
  text-align: center;
}
.contact-section ul.address-info li {
  padding: 0 4rem;
  margin-bottom: 2.3rem;
}
.contact-section ul.address-info li:hover .icon {
  background-color: #bda87f;
}
.contact-section ul.address-info li .icon {
  background: #676767 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 47px;
}
.contact-section ul.address-info li .addr-text {
  padding-top: 1rem;
  color: #666666;
  line-height: 24px;
}
