/*=============================================*/
/*  width <= 1199 */
/*=============================================*/
@media (max-width: 1199px) {
  html {
    font-size: 15px; } }

/*=============================================*/
/*  width <= 991 */
/*=============================================*/
@media (max-width: 991px) {
  html {
    font-size: 14px; }
  .categories.mobile ._dropdown ._dropdown-menu > li a {
    margin-bottom: 0; } }

/*=============================================*/
/*  width <= 767 */
/*=============================================*/
@media (max-width: 767px) {
  html {
    font-size: 13px; } }

/*=============================================*/
/*  width <= 575 */
/*=============================================*/
@media (max-width: 575px) {
  html {
    font-size: 12px; } }
